# =========================
# Windows
# =========================
Thumbs.db
Desktop.ini

# =========================
# macOS
# =========================
.DS_Store

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Entornos virtuales
.venv/
**/.venv/

# =========================
# Open WebUI
# =========================
Interfaces/OpenWebUI/data/
Interfaces/OpenWebUI/cache/

# Logs
*.log

# Entornos virtuales de Python
**/.venv/

# Datos privados de Open WebUI
**/.webui_secret_key

# Datos persistentes de Open WebUI en Docker
Infrastructure/openwebui-data/

# Backups locales
Backups/


**/.venv-windows-backup/
